<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN">
    <Properties>
        <Property name="logPath">./Users/xiaoyou_02/project/YouPayServer</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [pid=%pid tid=%tid] %-5level %X{traceId} %class{1} - %msg%n</Property>
        <Property name="LOG_JSON_PATTERN">{"ts":"%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}","pid":"%pid","tid":"%tid","level":"%p","traceId":"%X{traceId}","logger":"%class{1}","message":"%enc{%m}{JSON}","exception":"%enc{%throwable{full}}{JSON}"}%n</Property>
        <Property name="LOG_DIR">logs</Property>
        <Property name="LOG_FILE_NAME">root.log</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="RollingFile" fileName="${LOG_DIR}/${LOG_FILE_NAME}" filePattern="${LOG_DIR}/root-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_JSON_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${LOG_DIR}" maxDepth="1">
                    <IfFileName glob="root-*.log.gz"/>
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="BalanceFile" fileName="${LOG_DIR}/balance.log" filePattern="${LOG_DIR}/balance-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_JSON_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${LOG_DIR}" maxDepth="1">
                    <IfFileName glob="balance-*.log.gz"/>
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="TimerFile" fileName="${LOG_DIR}/timer.log" filePattern="${LOG_DIR}/timer-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_JSON_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${LOG_DIR}" maxDepth="1">
                    <IfFileName glob="timer-*.log.gz"/>
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="DmqFile" fileName="${LOG_DIR}/dmq.log" filePattern="${LOG_DIR}/dmq-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_JSON_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${LOG_DIR}" maxDepth="1">
                    <IfFileName glob="dmq-*.log.gz"/>
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <loggers>
        <root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </root>
        <logger name="RollingFile" level="INFO" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </logger>
        <logger name="balance-change" level="INFO" additivity="false">
            <AppenderRef ref="BalanceFile"/>
        </logger>
        <logger name="com.pakgopay.timer" level="INFO" additivity="false">
            <AppenderRef ref="TimerFile"/>
        </logger>
        <logger name="com.pakgopay.mq" level="INFO" additivity="false">
            <AppenderRef ref="DmqFile"/>
        </logger>
        <logger name="com.pakgopay.service.common.SendDmqMessage" level="INFO" additivity="false">
            <AppenderRef ref="DmqFile"/>
        </logger>
        <logger name="com.pakgopay.thirdUtil.RabbitmqUtil" level="INFO" additivity="false">
            <AppenderRef ref="DmqFile"/>
        </logger>
    </loggers>
</Configuration>
