<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pakgopay.mapper.AccountStatementsMapper">

    <!-- ResultMap with explicit javaType for each column -->
    <resultMap id="AccountStatementsResultMap" type="com.pakgopay.mapper.dto.AccountStatementsDto">
        <id     column="id"                        property="id"                     javaType="java.lang.Long"/>
        <result column="account_seq"               property="accountSeq"             javaType="java.lang.Long"/>
        <result column="serial_no"                 property="serialNo"               javaType="java.lang.String"/>
        <result column="transaction_no"            property="transactionNo"          javaType="java.lang.String"/>

        <result column="order_type"                property="orderType"              javaType="java.lang.Integer"/>
        <result column="amount"                    property="amount"                 javaType="java.math.BigDecimal"/>
        <result column="status"                    property="status"                 javaType="java.lang.Integer"/>

        <result column="available_balance_before"  property="availableBalanceBefore" javaType="java.math.BigDecimal"/>
        <result column="available_balance_after"   property="availableBalanceAfter"  javaType="java.math.BigDecimal"/>

        <result column="frozen_balance_before"     property="frozenBalanceBefore"    javaType="java.math.BigDecimal"/>
        <result column="frozen_balance_after"      property="frozenBalanceAfter"     javaType="java.math.BigDecimal"/>

        <!-- Note: column name is total_balance_before (typo kept for compatibility) -->
        <result column="total_balance_before"     property="totalBalanceBefore"    javaType="java.math.BigDecimal"/>
        <result column="total_balance_after"       property="totalBalanceAfter"      javaType="java.math.BigDecimal"/>

        <result column="wallet_addr"               property="walletAddr"             javaType="java.lang.String"/>
        <result column="request_ip"                property="requestIp"              javaType="java.lang.String"/>
        <result column="user_id"                   property="userId"                 javaType="java.lang.String"/>
        <result column="user_role"                 property="userRole"               javaType="java.lang.Integer"/>
        <result column="name"                      property="name"                   javaType="java.lang.String"/>
        <result column="currency"                  property="currency"               javaType="java.lang.String"/>

        <result column="create_time"               property="createTime"             javaType="java.lang.Long"/>
        <result column="create_by"                 property="createBy"               javaType="java.lang.String"/>
        <result column="update_time"               property="updateTime"             javaType="java.lang.Long"/>
        <result column="update_by"                 property="updateBy"               javaType="java.lang.String"/>

        <result column="remark"                    property="remark"                 javaType="java.lang.String"/>
    </resultMap>

    <resultMap id="AccountStatementEnqueueResultMap" type="com.pakgopay.mapper.dto.AccountStatementEnqueueDto">
        <result column="user_id" property="userId" javaType="java.lang.String"/>
        <result column="currency" property="currency" javaType="java.lang.String"/>
        <result column="create_time" property="createTime" javaType="java.lang.Long"/>
    </resultMap>

    <sql id="BaseColumns">
        id,
        account_seq,
        serial_no,
        transaction_no,
        order_type,
        amount,
        status,
        available_balance_before,
        available_balance_after,
        frozen_balance_before,
        frozen_balance_after,
        total_balance_before,
        total_balance_after,
        wallet_addr,
        request_ip,
        user_id,
        user_role,
        name,
        currency,
        create_time,
        create_by,
        update_time,
        update_by,
        remark
    </sql>

    <insert id="insert"
            parameterType="com.pakgopay.mapper.dto.AccountStatementsDto"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">
        INSERT INTO account_statements
        (
            serial_no,
            transaction_no,
            order_type,
            amount,
            status,
            available_balance_before,
            available_balance_after,
            frozen_balance_before,
            frozen_balance_after,
            total_balance_before,
            total_balance_after,
            wallet_addr,
            request_ip,
            user_id,
            user_role,
            name,
            currency,
            create_by,
            update_time,
            update_by,
            remark
        )
        VALUES
            (
                #{serialNo},
                #{transactionNo},
                #{orderType},
                #{amount},
                #{status},
                #{availableBalanceBefore},
                #{availableBalanceAfter},
                #{frozenBalanceBefore},
                #{frozenBalanceAfter},
                #{totalBalanceBefore},
                #{totalBalanceAfter},
                #{walletAddr},
                #{requestIp},
                #{userId},
                #{userRole},
                #{name},
                #{currency},
                #{createBy},
                #{updateTime},
                #{updateBy},
                #{remark}
            )
    </insert>

    <select id="batchInsertReturning" resultMap="AccountStatementEnqueueResultMap">
        INSERT INTO account_statements
        (
            serial_no,
            transaction_no,
            order_type,
            amount,
            status,
            available_balance_before,
            available_balance_after,
            frozen_balance_before,
            frozen_balance_after,
            total_balance_before,
            total_balance_after,
            wallet_addr,
            request_ip,
            user_id,
            user_role,
            name,
            currency,
            create_by,
            update_time,
            update_by,
            remark
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.serialNo},
                #{item.transactionNo},
                #{item.orderType},
                #{item.amount},
                #{item.status},
                #{item.availableBalanceBefore},
                #{item.availableBalanceAfter},
                #{item.frozenBalanceBefore},
                #{item.frozenBalanceAfter},
                #{item.totalBalanceBefore},
                #{item.totalBalanceAfter},
                #{item.walletAddr},
                #{item.requestIp},
                #{item.userId},
                #{item.userRole},
                #{item.name},
                #{item.currency},
                #{item.createBy},
                #{item.updateTime},
                #{item.updateBy},
                #{item.remark}
            )
        </foreach>
        RETURNING user_id, currency, create_time
    </select>

    <update id="updateBySerialNo" parameterType="com.pakgopay.mapper.dto.AccountStatementsDto">
        UPDATE account_statements
        <set>
            <if test="orderType != null">order_type = #{orderType},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="status != null">status = #{status},</if>

            <if test="availableBalanceBefore != null">available_balance_before = #{availableBalanceBefore},</if>
            <if test="availableBalanceAfter != null">available_balance_after = #{availableBalanceAfter},</if>

            <if test="frozenBalanceBefore != null">frozen_balance_before = #{frozenBalanceBefore},</if>
            <if test="frozenBalanceAfter != null">frozen_balance_after = #{frozenBalanceAfter},</if>

            <if test="totalBalanceBefore != null">total_balance_before = #{totalBalanceBefore},</if>
            <if test="totalBalanceAfter != null">total_balance_after = #{totalBalanceAfter},</if>

            <if test="walletAddr != null and walletAddr != ''">wallet_addr = #{walletAddr},</if>
            <if test="requestIp != null and requestIp != ''">request_ip = #{requestIp},</if>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="userRole != null">user_role = #{userRole},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="currency != null and currency != ''">currency = #{currency},</if>

            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>

            <if test="remark != null and remark != ''">remark = #{remark},</if>
        </set>
        WHERE serial_no = #{serialNo}
    </update>

    <update id="batchUpdateBySerialNo">
        UPDATE account_statements
        <set>
            account_seq = CASE serial_no
            <foreach collection="list" item="item">
                WHEN #{item.serialNo} THEN #{item.accountSeq}
            </foreach>
            END,
            available_balance_before = CASE serial_no
            <foreach collection="list" item="item">
                WHEN #{item.serialNo} THEN #{item.availableBalanceBefore}
            </foreach>
            END,
            available_balance_after = CASE serial_no
            <foreach collection="list" item="item">
                WHEN #{item.serialNo} THEN #{item.availableBalanceAfter}
            </foreach>
            END,
            frozen_balance_before = CASE serial_no
            <foreach collection="list" item="item">
                WHEN #{item.serialNo} THEN #{item.frozenBalanceBefore}
            </foreach>
            END,
            frozen_balance_after = CASE serial_no
            <foreach collection="list" item="item">
                WHEN #{item.serialNo} THEN #{item.frozenBalanceAfter}
            </foreach>
            END,
            total_balance_before = CASE serial_no
            <foreach collection="list" item="item">
                WHEN #{item.serialNo} THEN #{item.totalBalanceBefore}
            </foreach>
            END,
            total_balance_after = CASE serial_no
            <foreach collection="list" item="item">
                WHEN #{item.serialNo} THEN #{item.totalBalanceAfter}
            </foreach>
            END,
            status = CASE serial_no
            <foreach collection="list" item="item">
                WHEN #{item.serialNo} THEN #{item.status}
            </foreach>
            END
        </set>
        WHERE serial_no IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.serialNo}
        </foreach>
    </update>

    <select id="selectBySerialNoFromTable" resultMap="AccountStatementsResultMap">
        SELECT <include refid="BaseColumns"/>
        FROM ${tableName}
        WHERE serial_no = #{serialNo}
    </select>

    <sql id="StatementQueryWhere">
        <where>
            <if test="serialNo != null and serialNo != ''">AND serial_no = #{serialNo}</if>
            <if test="transactionNo != null and transactionNo != ''">AND transaction_no = #{transactionNo}</if>
            <if test="userId != null and userId != ''">AND user_id = #{userId}</if>
            <if test="userRole != null">AND user_role = #{userRole}</if>
            <if test="orderType != null">AND order_type = #{orderType}</if>
            <if test="currency != null and currency != ''">AND currency = #{currency}</if>
            <if test="startTime != null">AND create_time <![CDATA[>=]]> #{startTime}</if>
            <if test="endTime != null">AND create_time <![CDATA[<=]]> #{endTime}</if>
        </where>
    </sql>


    <select id="countByQuery"
            parameterType="com.pakgopay.data.entity.account.AccountStatementEntity"
            resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM account_statements
        <include refid="StatementQueryWhere"/>
    </select>

    <select id="pageByQuery"
            parameterType="com.pakgopay.data.entity.account.AccountStatementEntity"
            resultMap="AccountStatementsResultMap">
        SELECT <include refid="BaseColumns"/>
        FROM account_statements
        <include refid="StatementQueryWhere"/>
        ORDER BY create_time DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="selectEarliestPendingSnapshotAnchor" resultMap="AccountStatementsResultMap">
        SELECT <include refid="BaseColumns"/>
        FROM account_statements
        WHERE user_id = #{userId}
          AND currency = #{currency}
          AND status = 3
          AND total_balance_before IS NULL
          AND total_balance_after IS NULL
        ORDER BY id ASC
        LIMIT 1
    </select>

    <select id="selectEarliestPendingApplyAnchor" resultMap="AccountStatementsResultMap">
        SELECT <include refid="BaseColumns"/>
        FROM account_statements
        WHERE user_id = #{userId}
          AND currency = #{currency}
          AND status = 0
          AND order_type IN (11, 23)
        ORDER BY id ASC
        LIMIT 1
    </select>

    <select id="listPendingBalanceApplyFromTable" resultMap="AccountStatementsResultMap">
        SELECT <include refid="BaseColumns"/>
        FROM ${tableName}
        WHERE user_id = #{userId}
          AND currency = #{currency}
          AND status = 0
          AND order_type IN (11, 23)
          AND create_time <![CDATA[>=]]> #{startTime}
          AND create_time <![CDATA[<]]> #{endTime}
        ORDER BY id ASC
        LIMIT #{limitSize}
    </select>

    <select id="selectLatestCompletedBeforeFromTable" resultMap="AccountStatementsResultMap">
        SELECT <include refid="BaseColumns"/>
        FROM ${tableName}
        WHERE user_id = #{userId}
          AND currency = #{currency}
          AND status = 1
          AND total_balance_after IS NOT NULL
          AND create_time <![CDATA[>=]]> #{startTime}
          AND create_time <![CDATA[<]]> #{endTime}
          AND account_seq <![CDATA[<]]> #{accountSeq}
        ORDER BY account_seq DESC
        LIMIT 1
    </select>

    <select id="listPendingBalanceSnapshotsFromTable" resultMap="AccountStatementsResultMap">
        SELECT <include refid="BaseColumns"/>
        FROM ${tableName}
        WHERE user_id = #{userId}
          AND currency = #{currency}
          AND status = 3
          AND total_balance_before IS NULL
          AND total_balance_after IS NULL
          AND create_time <![CDATA[>=]]> #{startTime}
          AND create_time <![CDATA[<]]> #{endTime}
        ORDER BY id ASC
        LIMIT #{limitSize}
    </select>

    <select id="selectMaxAccountSeq" resultType="java.lang.Long">
        SELECT MAX(account_seq)
        FROM account_statements
        WHERE user_id = #{userId}
          AND currency = #{currency}
          AND account_seq IS NOT NULL
    </select>

    <update id="batchUpdateStatusBySerialNo">
        UPDATE account_statements
        SET status = CASE serial_no
        <foreach collection="list" item="item">
            WHEN #{item.serialNo} THEN #{item.status}
        </foreach>
        END
        WHERE serial_no IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.serialNo}
        </foreach>
    </update>

</mapper>
