<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pakgopay.mapper.BusinessConfigurationMapper">

    <select id="getConfigValue" parameterType="string" resultType="string">
        SELECT config_value
        FROM business_configuration
        WHERE config_key = #{configKey}
        LIMIT 1
    </select>

    <update id="updateConfigValue">
        UPDATE business_configuration
        SET config_value = #{configValue}
        WHERE config_key = #{configKey}
    </update>

    <insert id="insertConfig">
        INSERT INTO business_configuration (config_key, config_value)
        VALUES (#{configKey}, #{configValue})
    </insert>

</mapper>
