<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pakgopay.mapper.CurrencyTypeMapper">
    <resultMap id="currencyTypeMap" type="com.pakgopay.mapper.dto.CurrencyTypeDTO">
        <id column="id" property="id" javaType="Integer"/>
        <result column="currency_type" property="currencyType" javaType="String"/>
        <result column="name" property="name" javaType="String"/>
        <result column="icon" property="icon" javaType="String"/>
        <result column="create_time" property="createTime" javaType="java.lang.Long"/>
        <result column="update_time" property="updateTime" javaType="java.lang.Long"/>
        <result column="create_by" property="createBy" javaType="String"/>
        <result column="update_by" property="updateBy" javaType="String"/>
        <result column="remark" property="remark" javaType="String" />
        <result column="currency_scale" property="currencyAccuracy" javaType="java.math.BigDecimal"/>
    </resultMap>
    <sql id="allColumn">
        id, currency_type, name, icon, create_time, create_by, update_time, update_by, remark, currency_scale
    </sql>
    <sql id="insertColumn">
        currency_type, name, icon, create_time, create_by, update_time, update_by, remark, currency_scale
    </sql>
    <select id="getAllCurrencyType" parameterType="com.pakgopay.data.reqeust.currencyTypeManagement.CurrencyTypeRequest" resultMap="currencyTypeMap">
        SELECT
        <include refid="allColumn"/>
        FROM currency
        WHERE 1 = 1
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="name != null">
            and name = #{name}
        </if>
        <if test="!allData">
            LIMIT #{pageSize} OFFSET #{offSet}
        </if>

    </select>

    <insert id="addNewCurrency">
        INSERT INTO currency (
                              <include refid="insertColumn"/>
        ) values (#{currencyType},#{name},#{icon},#{createTime},#{createBy},#{updateTime},#{updateBy},#{remark},#{currencyAccuracy})
    </insert>

    <select id="getCurrencyById" resultMap="currencyTypeMap">
        SELECT
          <include refid="allColumn"/>
            FROM currency WHERE id = #{id}
    </select>

    <select id="getCount" resultType="java.lang.Integer"
            parameterType="com.pakgopay.data.reqeust.currencyTypeManagement.CurrencyTypeRequest"
    >
        SELECT count(1) from currency where 1 = 1
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="name != null">
            and name = #{name}
        </if>

    </select>

</mapper>
