<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pakgopay.mapper.CurrencyReportMapper">

    <!-- ResultMap (explicit javaType) -->
    <resultMap id="CurrencyReportResultMap" type="com.pakgopay.mapper.dto.CurrencyReportDto">

        <id column="currency" property="currency" javaType="java.lang.String"/>
        <id column="order_type" property="orderType" javaType="java.lang.Integer"/>
        <id column="record_date" property="recordDate" javaType="java.lang.Long"/>

        <result column="order_balance" property="orderBalance" javaType="java.math.BigDecimal"/>
        <result column="order_quantity" property="orderQuantity" javaType="java.lang.Integer"/>
        <result column="success_quantity" property="successQuantity" javaType="java.lang.Integer"/>

        <result column="create_time" property="createTime" javaType="java.lang.Long"/>
        <result column="update_time" property="updateTime" javaType="java.lang.Long"/>

        <result column="remark" property="remark" javaType="java.lang.String"/>

    </resultMap>

    <!-- Insert -->
    <insert id="insert" parameterType="com.pakgopay.mapper.dto.CurrencyReportDto">
        INSERT INTO currency_report (
        <include refid="BaseColumns"/>
        ) VALUES (
        #{currency},
        #{orderType},
        #{orderBalance},
        #{orderQuantity},
        #{successQuantity},
        #{createTime},
        #{updateTime},
        #{recordDate},
        #{remark}
        )
    </insert>

    <!-- Base columns -->
    <sql id="BaseColumns">
        currency,
        order_type,
        order_balance,
        order_quantity,
        success_quantity,
        create_time,
        update_time,
        record_date,
        remark
    </sql>

    <!-- Update by unique key -->
    <update id="update" parameterType="com.pakgopay.mapper.dto.CurrencyReportDto">
        UPDATE currency_report
        <set>
            <if test="orderBalance != null">order_balance = #{orderBalance},</if>
            <if test="orderQuantity != null">order_quantity = #{orderQuantity},</if>
            <if test="successQuantity != null">success_quantity = #{successQuantity},</if>

            <if test="remark != null">remark = #{remark},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        WHERE currency = #{currency}
        AND record_date = #{recordDate}
        AND order_type = #{orderType}
    </update>

    <!-- Common WHERE conditions for BaseReportEntity -->
    <sql id="CurrencyReportWhere">
        <where>
            <if test="currency != null and currency != ''">
                AND currency = #{currency}
            </if>

            <if test="orderType != null">
                AND order_type = #{orderType}
            </if>

            <if test="startTime != null">
                AND record_date &gt;= #{startTime}
            </if>

            <if test="endTime != null">
                AND record_date &lt;= #{endTime}
            </if>
        </where>
    </sql>

    <!-- 1) Return order_balance list -->
    <select id="balanceInfosByQuery"
            parameterType="com.pakgopay.entity.report.BaseReportEntity"
            resultType="java.math.BigDecimal">
        SELECT
        order_balance
        FROM currency_report
        <include refid="CurrencyReportWhere"/>
    </select>

    <!-- 2) Page query -->
    <select id="pageByQuery"
            parameterType="com.pakgopay.entity.report.BaseReportEntity"
            resultMap="CurrencyReportResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM currency_report
        <include refid="CurrencyReportWhere"/>
        ORDER BY record_date DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>


</mapper>
