<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pakgopay.mapper.MerchantReportMapper">

    <!-- ResultMap with explicit javaType -->
    <resultMap id="MerchantReportResultMap" type="com.pakgopay.mapper.dto.MerchantReportDto">

        <id column="user_id" property="userId" javaType="java.lang.String"/>

        <result column="merchant_name" property="merchantName" javaType="java.lang.String"/>
        <result column="order_type" property="orderType" javaType="java.lang.Integer"/>
        <result column="currency" property="currency" javaType="java.lang.String"/>

        <result column="order_quantity" property="orderQuantity" javaType="java.lang.Long"/>
        <result column="success_quantity" property="successQuantity" javaType="java.lang.Long"/>

        <result column="merchant_fee" property="merchantFee" javaType="java.math.BigDecimal"/>
        <result column="agent1_fee" property="agent1Fee" javaType="java.math.BigDecimal"/>
        <result column="agent2_fee" property="agent2Fee" javaType="java.math.BigDecimal"/>
        <result column="agent3_fee" property="agent3Fee" javaType="java.math.BigDecimal"/>
        <result column="order_profit" property="orderProfit" javaType="java.math.BigDecimal"/>

        <result column="record_date" property="recordDate" javaType="java.lang.Long"/>
        <result column="create_time" property="createTime" javaType="java.lang.Long"/>
        <result column="update_time" property="updateTime" javaType="java.lang.Long"/>

    </resultMap>

    <!-- Base columns -->
    <sql id="BaseColumns">
        user_id,
        merchant_name,
        order_type,
        currency,
        order_quantity,
        success_quantity,
        merchant_fee,
        agent1_fee,
        agent2_fee,
        agent3_fee,
        order_profit,
        record_date,
        create_time,
        update_time
    </sql>

    <!-- Insert -->
    <insert id="insert" parameterType="com.pakgopay.mapper.dto.MerchantReportDto">
        INSERT INTO merchant_report (
        <include refid="BaseColumns"/>
        ) VALUES (
        #{userId},
        #{merchantName},
        #{orderType},
        #{currency},
        #{orderQuantity},
        #{successQuantity},
        #{merchantFee},
        #{agent1Fee},
        #{agent2Fee},
        #{agent3Fee},
        #{orderProfit},
        #{recordDate},
        #{createTime},
        #{updateTime}
        )
    </insert>

    <!-- Update by unique key -->
    <update id="update" parameterType="com.pakgopay.mapper.dto.MerchantReportDto">
        UPDATE merchant_report
        <set>
            <if test="merchantName != null">merchant_name = #{merchantName},</if>

            <if test="orderQuantity != null">order_quantity = #{orderQuantity},</if>
            <if test="successQuantity != null">success_quantity = #{successQuantity},</if>

            <if test="merchantFee != null">merchant_fee = #{merchantFee},</if>
            <if test="agent1Fee != null">agent1_fee = #{agent1Fee},</if>
            <if test="agent2Fee != null">agent2_fee = #{agent2Fee},</if>
            <if test="agent3Fee != null">agent3_fee = #{agent3Fee},</if>
            <if test="orderProfit != null">order_profit = #{orderProfit},</if>

            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        WHERE user_id = #{userId}
        AND record_date = #{recordDate}
        AND order_type = #{orderType}
        AND currency = #{currency}
    </update>

    <insert id="batchUpsert" parameterType="java.util.List">
        INSERT INTO merchant_report (
        <include refid="BaseColumns"/>
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.userId},
            #{item.merchantName},
            #{item.orderType},
            #{item.currency},
            #{item.orderQuantity},
            #{item.successQuantity},
            #{item.merchantFee},
            #{item.agent1Fee},
            #{item.agent2Fee},
            #{item.agent3Fee},
            #{item.orderProfit},
            #{item.recordDate},
            #{item.createTime},
            #{item.updateTime}
            )
        </foreach>
        ON CONFLICT (user_id, record_date, order_type, currency) DO UPDATE SET
        merchant_name = EXCLUDED.merchant_name,
        order_quantity = EXCLUDED.order_quantity,
        success_quantity = EXCLUDED.success_quantity,
        merchant_fee = EXCLUDED.merchant_fee,
        agent1_fee = EXCLUDED.agent1_fee,
        agent2_fee = EXCLUDED.agent2_fee,
        agent3_fee = EXCLUDED.agent3_fee,
        order_profit = EXCLUDED.order_profit,
        update_time = EXCLUDED.update_time
    </insert>

    <!-- Common WHERE conditions -->
    <sql id="MerchantReportWhere">
        <where>
            <if test="orderType != null">
                AND order_type = #{orderType}
            </if>
            <if test="userId != null and userId != ''">
                AND user_id = #{userId}
            </if>

            <if test="merchantName != null and merchantName != ''">
                AND merchant_name LIKE CONCAT('%', #{merchantName}, '%')
            </if>

            <if test="startTime != null">
                AND record_date &gt;= #{startTime}
            </if>

            <if test="endTime != null">
                AND record_date &lt;= #{endTime}
            </if>

            <if test="currency != null">
                AND currency = #{currency}
            </if>
        </where>
    </sql>

    <select id="countByQuery" resultType="java.lang.Integer" parameterType="com.pakgopay.data.entity.report.MerchantReportEntity">
        SELECT COUNT(1)
        FROM merchant_report
        <include refid="MerchantReportWhere"/>
    </select>

    <select id="pageByQuery" resultMap="MerchantReportResultMap" parameterType="com.pakgopay.data.entity.report.MerchantReportEntity">
        SELECT
        <include refid="BaseColumns"/>
        FROM merchant_report
        <include refid="MerchantReportWhere"/>
        ORDER BY record_date DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

</mapper>
