<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pakgopay.mapper.PaymentMapper">

    <resultMap id="PaymentResultMap" type="com.pakgopay.mapper.dto.PaymentDto">

        <id     column="payment_id" property="paymentId" javaType="java.lang.Long"/>

        <result column="payment_name" property="paymentName" javaType="java.lang.String"/>
        <result column="support_type" property="supportType" javaType="java.lang.Integer"/>
        <result column="order_quantity" property="orderQuantity" javaType="java.lang.Long"/>
        <result column="success_quantity" property="successQuantity" javaType="java.lang.Long"/>
        <result column="isThird" property="isThird" javaType="java.lang.String"/>

        <result column="payment_no" property="paymentNo" javaType="java.lang.String"/>

        <result column="payment_pay_rate" property="paymentPayRate" javaType="java.lang.String"/>
        <result column="payment_collection_rate" property="paymentCollectionRate" javaType="java.lang.String"/>

        <result column="payment_request_pay_url" property="paymentRequestPayUrl" javaType="java.lang.String"/>
        <result column="payment_request_collection_url" property="paymentRequestCollectionUrl" javaType="java.lang.String"/>

        <result column="payment_check_pay_url" property="paymentCheckPayUrl" javaType="java.lang.String"/>
        <result column="payment_check_collection_url" property="paymentCheckCollectionUrl" javaType="java.lang.String"/>

        <result column="payment_max_amount" property="paymentMaxAmount" javaType="java.math.BigDecimal"/>
        <result column="payment_min_amount" property="paymentMinAmount" javaType="java.math.BigDecimal"/>

        <result column="collection_daily_limit" property="collectionDailyLimit" javaType="java.math.BigDecimal"/>
        <result column="pay_daily_limit" property="payDailyLimit" javaType="java.math.BigDecimal"/>
        <result column="collection_monthly_limit" property="collectionMonthlyLimit" javaType="java.math.BigDecimal"/>
        <result column="pay_monthly_limit" property="payMonthlyLimit" javaType="java.math.BigDecimal"/>

        <result column="enable_time_period" property="enableTimePeriod" javaType="java.lang.String"/>

        <result column="collection_interface_param" property="collectionInterfaceParam" javaType="java.lang.String"/>
        <result column="pay_interface_param" property="payInterfaceParam" javaType="java.lang.String"/>

        <result column="collection_callback_addr" property="collectionCallbackAddr" javaType="java.lang.String"/>
        <result column="pay_callback_addr" property="payCallbackAddr" javaType="java.lang.String"/>

        <result column="currency" property="currency" javaType="java.lang.String"/>

        <result column="create_time" property="createTime" javaType="java.lang.Long"/>
        <result column="create_by" property="createBy" javaType="java.lang.String"/>
        <result column="update_time" property="updateTime" javaType="java.lang.Long"/>
        <result column="update_by" property="updateBy" javaType="java.lang.String"/>

        <result column="remark" property="remark" javaType="java.lang.String"/>

        <result column="is_checkout_counter" property="isCheckoutCounter" javaType="java.lang.Integer"/>
        <result column="checkout_counter_url" property="checkoutCounterUrl" javaType="java.lang.String"/>

        <result column="payment_type" property="paymentType" javaType="java.lang.String"/>
        <result column="bank_name" property="bankName" javaType="java.lang.String"/>
        <result column="bank_account" property="bankAccount" javaType="java.lang.String"/>
        <result column="bank_user_name" property="bankUserName" javaType="java.lang.String"/>
        <result column="status" property="status" javaType="java.lang.Integer"/>

    </resultMap>

    <sql id="BaseColumns">
        payment_id,
        payment_name,
        support_type,
        order_quantity,
        success_quantity,
        "isThird",
        payment_no,
        payment_pay_rate,
        payment_collection_rate,
        payment_request_pay_url,
        payment_request_collection_url,
        payment_check_pay_url,
        payment_check_collection_url,
        payment_max_amount,
        payment_min_amount,
        collection_daily_limit,
        pay_daily_limit,
        collection_monthly_limit,
        pay_monthly_limit,
        enable_time_period,
        collection_interface_param,
        pay_interface_param,
        collection_callback_addr,
        pay_callback_addr,
        currency,
        create_time,
        create_by,
        update_time,
        update_by,
        remark,
        is_checkout_counter,
        checkout_counter_url,
        payment_type,
        bank_name,
        bank_account,
        bank_user_name,
        status
    </sql>

    <sql id="InsertColumns">
        payment_name,
        support_type,
        order_quantity,
        success_quantity,
        "isThird",
        payment_no,
        payment_pay_rate,
        payment_collection_rate,
        payment_request_pay_url,
        payment_request_collection_url,
        payment_check_pay_url,
        payment_check_collection_url,
        payment_max_amount,
        payment_min_amount,
        collection_daily_limit,
        pay_daily_limit,
        collection_monthly_limit,
        pay_monthly_limit,
        enable_time_period,
        collection_interface_param,
        pay_interface_param,
        collection_callback_addr,
        pay_callback_addr,
        currency,
        create_time,
        create_by,
        update_time,
        update_by,
        remark,
        is_checkout_counter,
        checkout_counter_url,
        payment_type,
        bank_name,
        bank_account,
        bank_user_name,
        status
    </sql>

    <!-- findEByPaymentNo -->
    <select id="findEByPaymentNo" resultMap="PaymentResultMap">
        select
        <include refid="BaseColumns"/>
        from payment
        where payment_no = #{paymentNo}
    </select>

    <!-- findByPaymentId -->
    <select id="findByPaymentId" resultMap="PaymentResultMap">
        select <include refid="BaseColumns"/>
        from payment
        where payment_id = #{paymentId}
        limit 1
    </select>

    <!-- getAllPayments -->
    <select id="getAllPayments" resultMap="PaymentResultMap">
        select <include refid="BaseColumns"/>
        from payment
        order by create_time desc
    </select>

    <!-- insert -->
    <insert id="insert" parameterType="com.pakgopay.mapper.dto.PaymentDto">
        insert into payment (
        <include refid="InsertColumns"/>
        ) values (
        #{paymentName},
        #{supportType},
        #{orderQuantity},
        #{successQuantity},
        #{isThird},
        #{paymentNo},
        #{paymentPayRate},
        #{paymentCollectionRate},
        #{paymentRequestPayUrl},
        #{paymentRequestCollectionUrl},
        #{paymentCheckPayUrl},
        #{paymentCheckCollectionUrl},
        #{paymentMaxAmount},
        #{paymentMinAmount},
        #{collectionDailyLimit},
        #{payDailyLimit},
        #{collectionMonthlyLimit},
        #{payMonthlyLimit},
        #{enableTimePeriod},
        #{collectionInterfaceParam},
        #{payInterfaceParam},
        #{collectionCallbackAddr},
        #{payCallbackAddr},
        #{currency},
        #{createTime},
        #{createBy},
        #{updateTime},
        #{updateBy},
        #{remark},
        #{isCheckoutCounter},
        #{checkoutCounterUrl},
        #{paymentType},
        #{bankName},
        #{bankAccount},
        #{bankUserName},
        #{status}
        )
    </insert>

    <!-- updateByPaymentId -->
    <update id="updateByPaymentId" parameterType="com.pakgopay.mapper.dto.PaymentDto">
        UPDATE payment
        <set>
            <if test="paymentName != null">payment_name = #{paymentName},</if>
            <if test="supportType != null">support_type = #{supportType},</if>
            <if test="orderQuantity != null">order_quantity = #{orderQuantity},</if>
            <if test="successQuantity != null">success_quantity = #{successQuantity},</if>
            <if test="isThird != null">"isThird" = #{isThird},</if>
            <if test="paymentNo != null">payment_no = #{paymentNo},</if>
            <if test="paymentPayRate != null">payment_pay_rate = #{paymentPayRate},</if>
            <if test="paymentCollectionRate != null">payment_collection_rate = #{paymentCollectionRate},</if>
            <if test="paymentRequestPayUrl != null">payment_request_pay_url = #{paymentRequestPayUrl},</if>
            <if test="paymentRequestCollectionUrl != null">payment_request_collection_url = #{paymentRequestCollectionUrl},</if>
            <if test="paymentCheckPayUrl != null">payment_check_pay_url = #{paymentCheckPayUrl},</if>
            <if test="paymentCheckCollectionUrl != null">payment_check_collection_url = #{paymentCheckCollectionUrl},</if>
            <if test="paymentMaxAmount != null">payment_max_amount = #{paymentMaxAmount},</if>
            <if test="paymentMinAmount != null">payment_min_amount = #{paymentMinAmount},</if>
            <if test="collectionDailyLimit != null">collection_daily_limit = #{collectionDailyLimit},</if>
            <if test="payDailyLimit != null">pay_daily_limit = #{payDailyLimit},</if>
            <if test="collectionMonthlyLimit != null">collection_monthly_limit = #{collectionMonthlyLimit},</if>
            <if test="payMonthlyLimit != null">pay_monthly_limit = #{payMonthlyLimit},</if>
            <if test="enableTimePeriod != null">enable_time_period = #{enableTimePeriod},</if>
            <if test="collectionInterfaceParam != null">collection_interface_param = #{collectionInterfaceParam},</if>
            <if test="payInterfaceParam != null">pay_interface_param = #{payInterfaceParam},</if>
            <if test="collectionCallbackAddr != null">collection_callback_addr = #{collectionCallbackAddr},</if>
            <if test="payCallbackAddr != null">pay_callback_addr = #{payCallbackAddr},</if>
            <if test="currency != null">currency = #{currency},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isCheckoutCounter != null">is_checkout_counter = #{isCheckoutCounter},</if>
            <if test="checkoutCounterUrl != null">checkout_counter_url = #{checkoutCounterUrl},</if>
            <if test="paymentType != null">payment_type = #{paymentType},</if>
            <if test="bankName != null">bank_name = #{bankName},</if>
            <if test="bankAccount != null">bank_account = #{bankAccount},</if>
            <if test="bankUserName != null">bank_user_name = #{bankUserName},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE payment_id = #{paymentId}
    </update>

    <!-- deleteByPaymentId -->
    <delete id="deleteByPaymentId">
        delete from payment
        where payment_id = #{paymentId}
    </delete>

    <select id="findEnableInfoByPaymentNos" resultMap="PaymentResultMap">
        select
        <include refid="BaseColumns"/>
        from payment
        where payment_no = #{paymentNo}
        <if test="paymentIdList != null and !paymentIdList.isEmpty()">
            and payment_id in
            <foreach collection="paymentIdList" item="pid" open="(" close=")" separator=",">
                #{pid}
            </foreach>
        </if>
        and (status = 1)
        and support_type IN (2, #{supportType})
    </select>

    <sql id="PaymentQueryWhere">
        <where>

            <if test="paymentName != null and paymentName != ''">
                AND payment_name LIKE CONCAT('%', #{paymentName}, '%')
            </if>

            <if test="supportType != null and supportType != ''">
                AND support_type = #{supportType}
            </if>

            <if test="paymentType != null and paymentType != ''">
                AND payment_type = #{paymentType}
            </if>

            <if test="currency != null and currency != ''">
                AND currency = #{currency}
            </if>

            <if test="status != null">
                AND status = #{status}
            </if>

        </where>
    </sql>

    <select id="countByQuery"
            parameterType="com.pakgopay.data.entity.channel.PaymentEntity"
            resultType="int">
        SELECT COUNT(1)
        FROM payment
        <include refid="PaymentQueryWhere"/>
    </select>

    <select id="pageByQuery"
            parameterType="com.pakgopay.data.entity.channel.PaymentEntity"
            resultMap="PaymentResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM payment
        <include refid="PaymentQueryWhere"/>
        ORDER BY payment_id DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="findByPaymentIds"
            parameterType="java.util.List"
            resultMap="PaymentResultMap">

        SELECT
            payment_id,
            payment_no,
            payment_name,
            support_type,
            currency
        FROM payment
        <where>
            <if test="paymentIdList != null and paymentIdList.size() > 0">
                AND payment_id IN
                <foreach collection="paymentIdList" item="pid" open="(" close=")" separator=",">
                    #{pid}
                </foreach>
            </if>

            <if test="paymentIdList == null or paymentIdList.size() == 0">
                AND 1 = 0
            </if>
        </where>
    </select>

    <select id="findEnabledByPaymentIds"
            parameterType="java.util.List"
            resultMap="PaymentResultMap">
        SELECT
            <include refid="BaseColumns"/>
        FROM payment
        <where>
            status = 1
            <if test="paymentIdList != null and paymentIdList.size() > 0">
                AND payment_id IN
                <foreach collection="paymentIdList" item="pid" open="(" close=")" separator=",">
                    #{pid}
                </foreach>
            </if>
            <if test="paymentIdList == null or paymentIdList.size() == 0">
                AND 1 = 0
            </if>
        </where>
    </select>

</mapper>
