<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pakgopay.mapper.PaymentReportMapper">

    <!-- Base columns -->
    <sql id="BaseColumns">
        payment_id,
        payment_name,
        order_type,
        order_quantity,
        success_quantity,
        currency,
        merchant_fee,
        order_balance,
        order_profit,
        record_date,
        create_time,
        update_time
    </sql>

    <!-- ResultMap (explicit javaType) -->
    <resultMap id="PaymentReportResultMap" type="com.pakgopay.mapper.dto.PaymentReportDto">

        <id column="payment_id" property="paymentId" javaType="java.lang.Long"/>

        <result column="payment_name" property="paymentName" javaType="java.lang.String"/>
        <result column="order_type" property="orderType" javaType="java.lang.Integer"/>

        <result column="order_quantity" property="orderQuantity" javaType="java.lang.Integer"/>
        <result column="success_quantity" property="successQuantity" javaType="java.lang.Integer"/>

        <result column="currency" property="currency" javaType="java.lang.String"/>

        <result column="merchant_fee" property="merchantFee" javaType="java.math.BigDecimal"/>
        <result column="order_balance" property="orderBalance" javaType="java.math.BigDecimal"/>
        <result column="order_profit" property="orderProfit" javaType="java.math.BigDecimal"/>

        <result column="record_date" property="recordDate" javaType="java.lang.Long"/>
        <result column="create_time" property="createTime" javaType="java.lang.Long"/>
        <result column="update_time" property="updateTime" javaType="java.lang.Long"/>

    </resultMap>

    <!-- Insert -->
    <insert id="insert" parameterType="com.pakgopay.mapper.dto.PaymentReportDto">
        INSERT INTO payment_report (
        <include refid="BaseColumns"/>
        ) VALUES (
        #{paymentId},
        #{paymentName},
        #{orderType},
        #{orderQuantity},
        #{successQuantity},
        #{currency},
        #{merchantFee},
        #{orderBalance},
        #{orderProfit},
        #{recordDate},
        #{createTime},
        #{updateTime}
        )
    </insert>

    <!-- Update by unique key -->
    <update id="update" parameterType="com.pakgopay.mapper.dto.PaymentReportDto">
        UPDATE payment_report
        <set>
            <if test="paymentName != null">payment_name = #{paymentName},</if>

            <if test="orderQuantity != null">order_quantity = #{orderQuantity},</if>
            <if test="successQuantity != null">success_quantity = #{successQuantity},</if>

            <if test="merchantFee != null">merchant_fee = #{merchantFee},</if>
            <if test="orderBalance != null">order_balance = #{orderBalance},</if>
            <if test="orderProfit != null">order_profit = #{orderProfit},</if>

            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        WHERE payment_id = #{paymentId}
        AND record_date = #{recordDate}
        AND order_type = #{orderType}
        AND currency = #{currency}
    </update>

    <!-- Common WHERE conditions for PaymentReportEntity -->
    <sql id="PaymentReportWhere">
        <where>

            <if test="paymentId != null">
                AND payment_id = #{paymentId}
            </if>

            <if test="currency != null and currency != ''">
                AND currency = #{currency}
            </if>

            <if test="orderType != null">
                AND order_type = #{orderType}
            </if>

            <if test="startTime != null">
                AND record_date &gt;= #{startTime}
            </if>

            <if test="endTime != null">
                AND record_date &lt;= #{endTime}
            </if>

        </where>
    </sql>

    <select id="balanceInfosByQuery"
            parameterType="com.pakgopay.data.entity.report.PaymentReportEntity"
            resultType="java.math.BigDecimal">
        SELECT
        order_balance
        FROM payment_report
        <include refid="PaymentReportWhere"/>
    </select>

    <select id="pageByQuery"
            parameterType="com.pakgopay.data.entity.report.PaymentReportEntity"
            resultMap="PaymentReportResultMap">
        SELECT
        <include refid="BaseColumns"/>
        FROM payment_report
        <include refid="PaymentReportWhere"/>
        ORDER BY record_date DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>


</mapper>
